
body{
  background-image: url(background.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
body>div{
  background-color:rgba(0, 0, 0, 0.5);
  margin:10%;
  margin-inline:20%;
  border-radius: 10px;
  padding: 20px;

}
div.LIMtitle>img{
  width: 15%;
}
div.LIMtitle>h1{
  font-size: 25px;
  color:rgb(29,219,15);
}
.buttonoption{
  background-color:rgb(29,219,15);
  padding:8px;
  margin-inline:10%;
}
header{
  text-align:center;
  margin-top: 8%;
  padding: 10px;
}

.descrizione{
  padding-inline: 10%;
  margin-bottom:30px;
  margin-top:10px;
  color:white;
  font-family:sans-serif;
}

div> span{
  display:block;
}

div> label{
 font-size:22px;
}

.statusbar{
  color:orange;
}

div> span.statusbar1{
  background-color: rgb(240,165,67);
  height:20px;
  width:270px;
  border-radius: 5px;

}

div> span.statusbar2{
  background-color: rgb(35,186,23);
  height:20px;
  width:420px;
  border-radius: 5px;

}

div> span.statusbar3{
  background-color: rgb(174,45,50);
  height:20px;
  width:120px;
  border-radius: 5px;

}
